/*
extends item-slider-style
*/

.bts-slider-v-style, .bts-slider-y-style, .bts-slider-x-style  {
	position: absolute;
	display: block;
	/* height: 120px; */
	width: 4px;
	background: rgba(255, 255, 255, 0.32);
	border: 0 !important;
	color: #33D6FF;
	border-radius: 0px !important;
	outline: none;
}

.bts-slider-v-style div {
	position: absolute;
	cursor: pointer;
	/* background: #fff; */
	background-repeat: no-repeat;
	background-color: transparent;
	background-image: url("../../images/bts/slider-v_knob@2x.png");
	background-size: contain;
	border: 0 ;
	width: 16px;
	height: 10px;
	left: -6px !important;
}

.bts-slider-y-style div {
	position: absolute;
	cursor: pointer;
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: contain;
	border: 0 ;
	width: 16px;
	height: 16px;
	background-color: #FFFF;
	border-radius: 50%;
	border: 2px solid #33D6FF;
}

.bts-slider-x-style div {
	position: absolute;
	cursor: pointer;
	background-repeat: no-repeat;
	background-color: transparent;
	background-image: url("../../images/bts/slider-v_knob@2x.png");
	background-size: contain;
	border: 0 ;
	width: 16px;
	height: 10px;
	transform: rotate(90deg);
	top: 2px !important;
	margin: -5px -3px !important;
}