/*
  Copyright 2016 Roland Corporation. All rights reserved.

  Override css/push-button.css

  <div id="a" class="item-push-button-style">
      <p>text</p>
  </div>
*/
.item-push-button-style {
  /*
  position: absolute;
  clear: both;
  display: table;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;
  color: #000;
  background-color: #fff;
  */
  border: 1px solid #ccc;
  border-radius: 0;
}
.item-push-button-style p {
  /*
  display: table-cell;
  vertical-align: middle;
  */
  line-height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.item-push-button-style.disabled {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.5) !important;
  border: 1px solid rgba(255, 255, 255, 0.32) !important;
  cursor: default;
}
.item-push-button-style.disabled-blue {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(51, 214, 255, 0.5) !important;
  border: 1px solid rgba(51, 214, 255, 0.5) !important;
  cursor: default;
  pointer-events: none;
}
.item-push-button-style.invalid {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.5) !important;;
  border: 1px solid rgba(255, 255, 255, 0.32) !important;
  pointer-events: none;
}
.item-push-button-style[style*='color: rgb(255, 255, 255);']:not(.disabled):hover {
  background-color: rgba(255, 255, 255, 0.32) !important;
}
.item-push-button-style[style*='color: rgb(51, 214, 255);']:not(.disabled-blue):hover {
  background-color: rgba(51, 214, 255, 0.32) !important;
}
.bts-edit-push-button-style p {
  display: table-cell;
  vertical-align: middle;

  padding-right: 16px;
  line-height: 100%;

  background-repeat: no-repeat;
  background-position: center right;
  background-size: 16px 16px;
  background-image: url("../../images/bts/keyboard_arrow_right_16px@2x.png");
}
.bts-tap-circle-button-style {
  position: absolute;
  clear: both;
  display: table;
  margin: 0;
  padding: 0;

  text-align: center;
  cursor: pointer;
  font-size: 20px;

  color: #ffffff;
  background-color: #505254;
  border-radius: 50%;
}
.bts-tap-circle-button-style p {
  display: table-cell;
  vertical-align: middle;

  line-height: 100%;

  background-repeat: no-repeat;
  background-position: center center;
}
.bts-setting-back-push-button-style {
  position: absolute;
  clear: both;
  display: table;
  margin: 0;
  padding: 0;

  text-align: center;
  cursor: pointer;

  color: #FFFFFF;
  font-size: 12px;
}
.bts-setting-back-push-button-style p {
  display: table-cell;
  vertical-align: middle;

  padding-left: 24px;
  line-height: 100%;

  background-repeat: no-repeat;
  background-position: left center;
  background-size: 24px 24px;
}
