/*
  Copyright 2016 Roland Corporation. All rights reserved.

  <div id="a" class="item-push-button-style">
      <p>text</p>
  </div>
*/

.item-push-button-style {
  position: absolute;
  clear: both;
  display: table;
  margin: 0;
  padding: 0;

  text-align: center;
  cursor: pointer;

  color: #000;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 8px;
}
.item-push-button-style p {
  display: table-cell;
  vertical-align: middle;
  padding: 4px;

  background-repeat: no-repeat;
  background-position: center center;
}
.item-push-button-style:hover {
  background-color: #ddd;
}
.item-push-button-style:active {
  background-color: #eee;
}
